{% block content %}
{% load static %} 
<!DOCTYPE HTML>

<HTML>
<HEAD>
	<TITLE>TRS</TITLE>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<LINK rel="stylesheet" href="{% static 'csss/style.css' %}" />
	<script src="{% static 'javas/javas.js' %}" name="num1"></script>

	<style>
		body{
            background-image: url("{% static 'photo/inback1.jpg' %}");
            background-size: cover;
			height: 100%;
		   } 
	</style>


</HEAD>
<BODY > 
	<DIV id="topframe">
	<H1 style="text-align:left; font-size: 30pt;font-family: Matura MT Script Capitals; color:white; top:0px">TraveLogy</H1></DIV>
	<DIV align="right">
			{% if user.is_authenticated %}
			<a>Hello, {{user.first_name}}</a>
			<a href="log/logout" >LOGOUT</a>
			{% else %}
			<a 	href="log/register" >LOGIN</a>
			{% endif %}<a href="/homebut" style="position: right">HOME</a>
	<a href="/dashbut" >DASHBOARD</a><a href="/abobut" >ABOUT</a>
	</DIV>
	
	<DIV id="main" align="center" style="background:transperant">
	<TABLE align="center"><FORM action="cat1"> 
		 <!-- method="POST"> -->
		  {% csrf_token%} 
		
		<TR>
			<!-- <div class="container"> -->
			<TD><button name="cat" type="submit" value="Religious & Spiritual" >
				<DIV id="transform">
				<IMG src="{% static 'photo/religious.jpg' %}">
				<div class="centered" ><h3>Religious & Spiritual</h3></div>
				</IMG>
				<!-- </label> -->
				
    			<!-- <input id="rel" onclick="myFunction('C5')" type="submit"  formaction="cat1" value="" /> -->
				</DIV>
				</button>
			</TD>
		<!-- </div> -->
			<TD><button name="cat" type="submit" value="Forts" >
				<DIV id="transform">
				<IMG src="{% static 'photo/forts.jpg' %}">
				<div class="centered" ><h3>Forts</h3></div>
				</IMG>
				<!-- </label> -->
    			<!-- <input id="file-input" type="submit" name="c5" onclick="myFunction('C5')" value="" /> -->
    			</DIV>
			</TD></button>
			<TD><button name="cat" type="submit" value="Lake & Water bodies" >
				<DIV id="transform">
				<IMG src="{%static 'photo/lakes.jpg' %}">
				<div class="centered" ><h3>Lakes & Water Bodies</h3></div>
				</IMG>
				<!-- </label> -->
    			<!-- <input id="file-input" type="submit" name="c5" onclick="myFunction('C5')" value="" /> -->
    			</DIV></button>
			</TD>
			<TD><button name="cat" type="submit" value="Forests & Wildlife" >
				<DIV id="transform">
				<IMG src="{%static 'photo/forests.jpg' %}">
				<div class="centered" ><h3>Forests & Wildlife</h3></div>
				</IMG>
				<!-- </label> -->
    			<!-- <input id="file-input" type="submit" name="c5" onclick="myFunction('C5')" value="" /> -->
    			</DIV>			
			</TD></button>
		</TR>
		<TR>
		<TD><button name="cat" type="submit" value="Caves" >
			<DIV id="transform">
			<!-- <label for="file-input"> -->
			<IMG src="{%static 'photo/caves.jpeg' %}">
			<div class="centered" ><h3>Caves</h3></div>
    		<!-- <input id="file-input" type="submit" name="c5" onclick="myFunction('C5')" value="" /> -->
			</IMG>
			<!-- </label> -->
    		<!-- <input id="file-input" type="submit" name="c5" onclick="myFunction('C5')" value="" /></DIV> -->
		</TD></button>
		<TD >
			<button name="cat" type="submit" value="Heritage Site" >
			<!-- <label for="file-input"> -->
			<DIV id="transform">
			<IMG src="{% static 'photo/heritage.jpg' %}">
			<div class="centered" ><h3>Heritage Sites</h3></div>
			</IMG>
			<!-- </label> -->
	    	<!-- <input id="file-input" type="submit" name="c5" onclick="myFunction('C5')" value="" /> -->
	    	</DIV>
		</TD></button>
		<TD><button name="cat" type="submit" value="Hill-Station" >
			<!-- <label for="file-input"> -->
			<DIV id="transform">
			<IMG src="{% static 'photo/hills.jpg' %}">
			<div class="centered" ><h3>Hill Stations</h3></div>
			</IMG>
			<!-- </label> -->
    		<!-- <input id="file-input" type="submit" name="c5" onclick="myFunction('C5')" value="" /> -->
    		</DIV>
		</TD></button>
		<TD><button name="cat" type="submit" value="Museum" >
			<!-- <label for="file-input"> -->
			<DIV id="transform">
			<IMG src="{% static 'photo/museum.jpg' %}">	
			<div class="centered" ><h3>Museums</h3></div>
			</IMG>
			<!-- </label> -->
    		<!-- <input id="file-input" type="submit" name="c5" onclick="myFunction('C5')" value="" /> -->
    		</DIV>
		</TD></button>
		</TR></FORM>
	</TABLE></DIV>

	<!-- <DIV id="bottomframe"><P align="center"> Tourism Recommendation System</P></DIV> -->
</BODY>

</HTML>
	

{% endblock %}
	
